/* rubik-500 - latin */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: local(""), url("../fonts/rubik-v20-latin-500.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/rubik-v20-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
ul {
  list-style: none;
  margin: 0;
}

* {
  box-sizing: border-box;
}
img {
  vertical-align: middle;
}
body {
  margin: 0px;
}

.container {
  width: 1260px;
  padding: 0px 30px;
  margin: 0px auto;
}
header {
  background: #f6f6f9;
}
.inner {
  display: flex;
  padding-top: 40px;
  align-items: center;
  margin-bottom: 40px;
}

.innerimg {
  background: #ffffff;
  box-shadow: 0px 2px 6px rgba(202, 202, 202, 0.25);
  border-radius: 5px;
  padding-top: 3px;
  padding-bottom: 4px;
  padding-left: 8px;
  padding-right: 6px;
  width: 320px;
  height: 40px;
}

.spans {
  display: flex;
}

.spanp {
  margin: 0 10px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  line-height: 19px;
}
.currency {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #285193;
}

.buttons {
  margin-left: auto;
}
p {
  margin: 0;
}
.butlink {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  background: linear-gradient(90deg, #1e96c8 15.07%, #37aee2 85.96%);
  border-radius: 5px;
  color: #ffffff;
  padding: 10px;
  padding-left: 7px;
  text-decoration: none;
}

.butbut {
  border: 0;
  background: #ffffff;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
.lupa {
  margin-right: 15px;
  cursor: pointer;
}
.ru {
  cursor: pointer;
  margin-right: 15px;
}
.ruimg {
  padding: 3px 0;
  margin-right: 5px;
  border-radius: 50%;
}

.butimg {
  margin-right: 7px;
  padding-bottom: 3px;
  align-items: center;
}

.navbar {
  background: #ffffff;
  box-shadow: 0px 2px 5px rgba(159, 159, 159, 0.19);
  border-radius: 5px;
  margin-bottom: 18px;
}
.navb {
  display: flex;
}

.navbitem {
  display: flex;
  list-style: none;
  width: 1200px;
  justify-content: space-evenly;
  padding-left: 0;
}

.navlink {
  text-decoration: none;
  color: #515151;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  font-size: 19px;
  line-height: 23px;
}

.headerend {
  border: 1px solid #e0e0e0;
  margin-bottom: 23px;
}

.adv {
  background: #f6f6f9;
  border-radius: 5px;
  align-items: center;
}
.forms {
  width: 600px;
  height: 50px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  background: #f1f1f1;
  opacity: 0.3;
  border: 2px solid #285193;
  border-radius: 5px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;

  color: #888888;
}
textarea {
  width: 600px;
  height: 307px;
  margin-top: 20px;
  display: flex;
  background: #f1f1f1;
  opacity: 0.3;
  border: 2px solid #285193;
  border-radius: 5px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;

  color: #888888;
}
.file {
  width: 221px;
  height: 50px;
  background: #fbfbfb;
  opacity: 0.3;
  border: 2px solid #285193;
  border-radius: 5px;
}
